[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi-sqlalchemy = "*"
pydantic = "*"
alembic = "*"
python-dotenv = "*"
gunicorn = "==20.1.0"
uvicorn = {version = "==0.20.0", extras = ["standard"]}
fastapi = {version = "==0.88.0", extras = ["all"]}

[dev-packages]

[requires]
python_version = "3.10"
